body {
    font-family: sans-serif;
    background-color:grey;
    margin-top: 75px;
    padding:200px;
    text-align:center;
}

.lefft {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
    font-style:italic;
}

.img-medium {
    height: 200px;
}


 .container{
     padding-top:30px;
     padding-left:70px;
     margin:0 auto;
     font-size:30px;
}