body {
    font-family: sans-serif;
    background-color: powderblue;
    margin-top: 75px;
    padding:200px;
    text-align:center;
}

.lefft {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
    font-style:italic;
}

.img-medium {
    height: 200px;
}

